.contact
    a.contact__item.contact__item--phone(href = 'tel:+3809380070030')
        i.fas.fa-mobile-alt.contact__icon
        span.contact__text 6337 3128
    
    a.contact__item.contact__item--mail(href = 'mailto:info@business.co')
        i.fas.fa-envelope.contact__icon
        span.contact__text info@business.co

    a.contact__item(href = 'http://facebook.com')
        i.fab.fa-facebook-f.contact__icon