footer.footer
    .footer__top
        .container
            h3.footer__title Get in touch
            .footer__social
                a.footer__link
                    i.fab.fa-facebook-f
                a.footer__link
                    i.fab.fa-twitter
                a.footer__link
                    i.fab.fa-google-plus-g
                a.footer__link
                    i.fab.fa-linkedin-in
            p.footer__inscription Subscribe to our newsletter to stay update with what is new
            input.footer__input(type="text" placeholder='Email Address')
            button.button.button--black Subscribe
    .footer__bottom
        .footer__copyright Cssauthor.com © 2014 All Rights Reserved
                 