section.form
    .container
        .title
            h3.title__header Get Your Free Facebook Analysis Now
            .title__description Enter your details below
        .form__button: a.arrow-down(href='#'): i.fas.fa-angle-down
        .form__wrapper
            button.form__close-button X
            p.form__text Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
            form.form__registration
                input.form__input(type="text" placeholder='Your Name')
                input.form__input(type="text" placeholder='Contact Number')
                input.form__input(type="text" placeholder='Company Name')
                button.button.button--red submit now