header.header
    .header__top
        .container
            include contact
    .header__bottom
        .container
            .logo: img.logo__img(src="images/logo.png" alt='logo')
            .header__navigation
                include nav
                button.button.button--red.header__button Free Consultation