section.work
    .container
        .title
            h3.title__header Our Work
            .title__description We are added our featured works below
        ul.work__list
            li.work__item.work__item--text
                h4.work__name Project Name
                p.work__product Facebook marketing
            li.work__item: img(src="images/work-1.jpg").work__picture
            li.work__item.work__item--text
                h4.work__name Project Name
                p.work__product Landing page
            li.work__item: img(src="images/work-2.jpg").work__picture
            li.work__item: img(src="images/work-3.jpg").work__picture
            li.work__item.work__item--text
                h4.work__name Project Name
                p.work__product Landing page
            li.work__item: img(src="images/work-4.jpg").work__picture   
            li.work__item.work__item--text
                h4.work__name Project Name
                p.work__product Facebook marketing
            
            
                