.banner{
    background: #ccc url("../images/hero-bg.jpg") center/cover; 
    min-height: 590px; 
    padding: 174px 0;
    text-align: center;

    @media (max-width: 550px) {
        min-height: 200px;
        padding: 72px 0;
    }
    
    &__title{
        color: white;
        font-size: 3rem;
        font-family: $ff-main-bold;
        line-height: 1;
    }

    &__about{
        display: block;
        text-align: center;
        color: white;
        padding: 3px 0 32px;
        margin: 0;
        font-family: $ff-main-light;
        letter-spacing: 2.5px;
    }
    
    &__button{
        font-family: $ff-main-bold;
        font-size: 1.5rem;
        padding: 25px 38px 18px;

        @media (max-width: 550px) {
            font-size: 1.1rem;
            padding: 10px 15px 7px;
        }
    }
    
}




