.button{
    display: inline-block;
    padding: 8px 21px 7px;
    border-radius: 3px;
    color: white;
    transition: 0.5s;
    
    &--red{
        background-color: $theme-color;
        
        &:hover{
            background: lighten($theme-color, 7%)
        }
    }

    &--yellow{
        background-color: #f8cd53;

        &:hover{
            background: lighten( #f8cd53, 7%)
        }
    }

    &--black{
    background-color: #2a2a2a;
    color: #fff;
    border-color: #515151;
    display: block;
    margin: auto;
    font-size: 1.1rem;
    margin-top: 27px;
    padding: 15px 34px;
    &:hover{
        background: lighten(#2a2a2a, 7%)
    }
    }
}

