@mixin centererX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centererY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin centererXY {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}